<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Smart Resume Screening System</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>

<header>
  <h1>Smart Resume Screening System</h1>
  <nav>
    <a href="/resume/upload">Upload Resume</a> |
    <a href="/jobdesc/jobdescription">Job Description</a> |
    <a href="/resume/results">Results</a>
  </nav>
</header>
