



  <%- include('./partials/header.ejs')  %>


  <main>
    <div class="home-actions">
      <a href="/resume/upload" class="button-link">Upload Resume</a>
      <a href="/jobdesc/jobdescription" class="button-link">Add Job Description</a>
      <a href="/resume/results" class="button-link">View Screening Results</a>
      <a href="/resume/shortlist" class="button-link">Shortlisted Candidates</a>
    </div>
  </main>

  <%- include('./partials/footer.ejs')  %>
