  <%- include('./partials/header.ejs')  %>


<h2>Upload Resume</h2>
<form action="/resume/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="resume" accept=".pdf,.docx" required>
  <button type="submit">Upload</button>
</form>

  <%- include('./partials/footer.ejs')  %>
